@keyframes blink {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.75;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0.75;
  }
  100% {
    opacity: 0.5;
  }
}

.mainLayout {
  height: 100vh;
}

.layout {
  flex-direction: row;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 80px;
}

.image {
  max-width: 100%;
  margin-bottom: 23px;
}

.customText {
  font-size: 20px !important;
  border: none !important;
  text-align: center !important;
  cursor: pointer !important;
  animation: blink 1.5s linear infinite;
}
