{
  "semi": false,
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "width": 50,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "printWidth": 80,
  "trailingComma": "all",
  "bracketSpacing": true
}
