@keyframes blink {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.75;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0.75;
  }
  100% {
    opacity: 0.5;
  }
}

.customText {
  font-size: 20px !important;
  text-align: center !important;
  animation: blink 1.5s linear infinite;
}

.score {
  font-size: 25px;
  width: 100%;
}

.button {
  width: 100%;
  max-width: 345px;
  margin-bottom: 50px;
  background-color: transparent !important;
}
