.scorePage {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.score {
  width: 50%;
  font-size: 25px;
}

.sideCrazyCrackerIcon {
  position: absolute;
  left: 0;
  bottom: 0;
  object-fit: contain;
}

.button {
  width: 100%;
  max-width: 345px;
}
