.forumPage {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.headers {
  width: 60%;
  padding: 0 28px;
}

.button {
  width: 100%;
  max-width: 345px;
}

.list {
  width: 60%;
  overflow-y: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.list::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}
